body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.bk {
    background-image: url(../imagens/Iron-Throne.png);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;

}

nav ul {
    font-size: 18px;
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 6px;
}

nav ul li a {
    font-family: 'Noto Serif', serif;
    color: #bbb5a8;
    text-decoration: none;

}

#home h1 {
    font-size: 80px;
    margin-top: 0;
    padding-top: 40px;
    text-align: center;
    color: #daa520;
    font-family: 'Noto Serif', serif;
}

#home p {
    font-family: 'Noto Serif', serif;
    color: #bbb5a8;
    font-size: 40px;
    text-align: center;

}

#home div{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

#home div img{
    width: 100px;
    margin-left: 10px;
    padding-left: 40px;
    padding-bottom: 50px;

}

#plataformas {

    background: linear-gradient(0deg, #0F0F11 0%, rgba(15, 15, 17, 0.00) 505%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#plataformas h1 {
    margin-top: 0;
    padding: 30px;
    font-family: 'Noto Serif', serif;
    color: #bbb5a8;
    font-size: 20px;

}

#plataformas a {
    margin: 40px;

}


h1 {
    font-weight: 900;
    color: #000;
}


.conteudo {
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.modulo p {
    margin-bottom: 40px;
}

section.modulo:last-child {
    margin-bottom: 0;
}

section.modulo h2 {
    margin-bottom: 40px;
    font-size: 30px;
}

section.modulo.construindo {
    padding: 40px 0;
    background: gray;
}

section.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, #000 100%);
}

section.parallax-1 {
    background-image: url(../imagens-casas/hoster.jpg);
}

section.parallax-2 {
    background-image: url(../imagens-casas/edmure.jpg);
}

section.parallax-3 {
    background-image: url(../imagens-casas/catelyn.jpg);
}

section.parallax-4 {
    background-image: url(../imagens-casas/lysa.jfif);
}

section.parallax-5 {
    background-image: url(../imagens-casas/jon.jfif);
}

section.parallax-6 {
    background-image: url(../imagens-casas/robert.jfif);
}

section.parallax-7 {
    background-image: url(../imagens-casas/robert-bar.jpg);
}

section.parallax-8 {
    background-image: url(../imagens-casas/stennis.jpg);
}

section.parallax-9 {
    background-image: url(../imagens-casas/renly.jpg);
}

section.parallax-10 {
    background-image: url(../imagens-casas/balon.jpg);
}

section.parallax-11 {
    background-image: url(../imagens-casas/theon.jpg);
}

section.parallax-12 {
    background-image: url(../imagens-casas/yara.jpg);
}

section.parallax-13 {
    background-image: url(../imagens-casas/tywin.jpg);
}

section.parallax-14 {
    background-image: url(../imagens-casas/jaime.jpg);
}

section.parallax-15 {
    background-image: url(../imagens-casas/tyrion.jpg);
}

section.parallax-16 {
    background-image: url(../imagens-casas/joffrey.jpg);
}

section.parallax-17 {
    background-image: url(../imagens-casas/myrcella.jpg);
}

section.parallax-18 {
    background-image: url(../imagens-casas/tommen.jpg);
}

section.parallax-19 {
    background-image: url(../imagens-casas/doran.jfif);
}

section.parallax-20 {
    background-image: url(../imagens-casas/oberyn.jfif);
}

section.parallax-21 {
    background-image: url(../imagens-casas/ned.jpg);
}

section.parallax-22 {
    background-image: url(../imagens-casas/Robb.jpg);
}

section.parallax-23 {
    background-image: url(../imagens-casas/sansa.jpg);
}

section.parallax-24 {
    background-image: url(../imagens-casas/arya.jpg);
}

section.parallax-25 {
    background-image: url(../imagens-casas/bran.jpg);
}

section.parallax-26 {
    background-image: url(../imagens-casas/rickon.jpg);
}

section.parallax-27 {
    background-image: url(../imagens-casas/Jon-Snow.jpeg);
}

section.parallax-28 {
    background-image: url(../imagens-casas/aerys.jpg);
}

section.parallax-29 {
    background-image: url(../imagens-casas/daenerys.jpg);
}

section.parallax-30 {
    background-image: url(../imagens-casas/rhaegar.jfif);
}

section.parallax-31 {
    background-image: url(../imagens-casas/mace.jpg);
}

section.parallax-32 {
    background-image: url(../imagens-casas/olenna.jpg);
}

section.parallax-33 {
    background-image: url(../imagens-casas/margaery.jpg);
}

section.parallax-34 {
    background-image: url(../imagens-casas/loras.jpg);
}

section.parallax h1 {
    color: #fff;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

#personagens {
    font-family: 'Noto Serif', serif;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 11%, rgba(61, 51, 26, 1) 76%, rgba(142, 119, 62, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(247, 209, 108, 1) 100%);

}

#personagens ul li {
    list-style: none;
    display: inline-block;
}

#personagens ul li a {
    text-decoration: none;
    color: #daa520;
    border: 2px solid #daa520;
    border-radius: 90px;
    padding: 5px;
    margin: 20px;
}

#personagens li a:hover {
    background-color: #daa520;
    color: #fff;
}

#personagens h1 {
    color: #daa520;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 200px;
    gap: 10px;
    margin-left: 5px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 11%, rgba(61, 51, 26, 1) 76%, rgba(142, 119, 62, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(247, 209, 108, 1) 100%);
}

.grid img {
    border: 5px solid #daa520;
    border-radius: 30px;
    height: 100%;
}

#livros {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 11%, rgba(61, 51, 26, 1) 76%, rgba(142, 119, 62, 1) 100%, rgba(0, 0, 0, 1) 100%, rgba(247, 209, 108, 1) 100%);
}

#livros h1 {
    margin-top: 100px;
    padding: 50px;
    color: #daa520;
    font-family: 'Noto Serif', serif;
    font-size: 50px;
    margin-bottom: 0;
    padding-bottom: 20px;

}

#livros p {
    color: #BBB5A8;
    margin-left: 50px;

}

#livros button {
      margin-left: 50px;
      border: 1px solid #daa520;
      background: #19150b;
      padding: 5px;
      margin-bottom: 50px;
}

#livros button a {

    font-family: 'Noto Serif', serif;
    text-decoration: none;
    color: #daa520;
}

#livros div img {
    margin-left: 200px;
    width: 500px

}

#contato{
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, #0F0F11 0%, rgba(15, 15, 17, 0.00) 505%);
}

#contato p {
    margin-top: 0;
    margin-left: 50px;
    padding: 20px;
    font-size: 15px;
    font-family: 'Noto Serif', serif;
    color: #bbb5a8;
}
